[Unit]
Description=RSS feed server
After=network.target

[Service]
Type=simple
User=CHANGE_THIS
WorkingDirectory=CHANGE_THIS
Environment="MOAT_KEY=test"
ExecStart=/usr/bin/cargo run --release

[Install]
WantedBy=multi-user.target
