[Unit]
Description=RSS feed server
After=network.target

[Service]
Type=simple
WorkingDirectory=CHANGE_THIS
Environment="MOAT_KEY=CHANGE_THIS"
ExecStart=/usr/bin/cargo run --release -- --config ~/.newsboat/moat.conf

[Install]
WantedBy=multi-user.target
