[Unit]
Description=RSS feed server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jonas/
Environment="MOAT_KEY=CHANGE THIS"
ExecStart=/home/jonas/.cargo/bin/cargo run --release -- --config ~/.newsboat/moat.conf

[Install]
WantedBy=multi-user.target
