[Unit]
Description=RSS feed server
After=network.target

[Service]
Type=simple
User=CHANGE_THIS
WorkingDirectory=CHANGE_THIS
Environment="MOAT_KEY=CHANGE_THIS"
ExecStart=/CHANGE_THIS/moat/target/release/moat_server

[Install]
WantedBy=multi-user.target
